*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  justify-content: space-around;
}
.face{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: inset 3px 0 0 4px rgba(225, 102, 0, 0,15);
    position: relative;
    border: 2px solid orange;
}

.yeux{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: bisque;
   position: absolute;
   top: 65px;
   left: 30px;
   box-shadow: inset  0 0 8px black;
}
.yeux:last-child{
    left: auto;
    right: 30px;
}
.yeux::after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 37%;
    right: 50%;
    transition-duration: 1ms;

}
.yeux:hover::after{
    opacity: 0;
}
.bouche{
    height: 12px;
    width: 40px;
    border-color: white;
    border-radius: 5px;
    position: absolute;
    left: 40%;
    background-color: black;
    bottom: 23%;
}




.face1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: inset 3px 0 0 4px rgba(225, 102, 0, 0,15);
    position: relative;
}

.yeux1{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: bisque;
   position: absolute;
   top: 55px;
   left: 30px;
   box-shadow: inset  0 0 8px black;
}
.yeux11{
    right: auto;
    left: 130px;
    width: 40px;
    height: 40px;
    background-color:black;
    position: absolute;
    bottom: 113px;
    border-radius: 50%;
}
.yeux1::after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 33%;
    right: 31%;
    bottom: 23%;
    transition-duration: 1ms;
    left: 23%;

}
.yeux1:hover::after{
    opacity: 0;
}
.bouche1{
    height: 50px;
    width: 50px;
    border-color: white;
    position: absolute;
    left: 35%;
    background-color: black;
    bottom: 20%;
    border-radius: 50%;
}




.face2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: inset 3px 0 0 4px rgba(225, 102, 0, 0,15);
    position: relative;
    box-shadow: inset black;
}

.yeux2{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: black;
   position: absolute;
   top: 65px;
   left: 30px;
   box-shadow: inset  0 0 8px black;
}
.yeux2:last-child{
    left: auto;
    right: 30px;
}
.yeux2::after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 37%;
    right: 50%;
    transition-duration: 1ms;

}
.yeux2:hover::after{
    opacity: 0;
}
.bouche2{
    height: 60px;
    width: 60px;
    
    border-radius: 50px;
    position: absolute;
    left: 34%;
    background-color: black;
    bottom: 11%;
}

.neub{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    right: 15%;
    bottom: 51%;
}
.neubb{
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    right: 40%;
    bottom: 28%;
}
.neubb1{
    width: 60px;
    height: 60px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    right: 36%;
    bottom: 7%;
}
.langue{
    height: 60px;
    width: 30px;
    background-color: rgb(227, 130, 130);
    position: absolute;
    bottom: 1%;
    right: 20%;
    border-radius: 0 0 20px 20px;
}